@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Login</h2>

<form asp-action="Login" method="post">
    <!-- Usuario -->
    <div class="form-outline mb-4">
        <input type="text" name="username" class="form-control form-control-lg" required/>
        <label class="form-label" for="form1Example13">Usuario</label>
    </div>
    <!-- Contraseña -->
    <div class="form-outline mb-4">
        <input type="password" name="password" class="form-control form-control-lg" required/>
        <label class="form-label" for="form1Example23">Password</label>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
    <a asp-controller="Auth" asp-action="Register" class="btn btn-primary btn-lg btn-block">Registrarse</a> 
</form>
